*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /border: solid 2px red;
}
body, html{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card1{
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("https://64.media.tumblr.com/06e26b1ef6b3242e02f613481e3354c1/ff0deae71b7a0b95-06/s3840x2160/44c1c7dd40f3524a7c6b30e7089e840c75cbdbfa.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.l1, .l2, .r1, .r2{
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 30px rgba(0,0,0,.6));
  background-size: cover;
}
.l1, .r1{
  transition: 1.1s;
}
.l2, .r2{
  transition: .7s;
}
.l1::after, .l2::after, .r1::after, .r2::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://picfiles.alphacoders.com/395/395153.jpg");
  background-size: cover;
}
.l1{
  right: 590px;
  transform: rotate(-105deg);
  overflow: hidden;
}
.l1::after{
  transform: rotate(105deg);
}
.l2{
  right: 590px;
  transform: rotate(115deg);
  overflow: hidden;
}
.l2::after{
  transform: rotate(-115deg);
}
.r1{
  left: 570px;
  transform: rotate(-100deg);
  overflow: hidden;
}
.r1::after{
  transform: rotate(100deg);
}
.r2{
  left: 570px;
  transform: rotate(105deg);
  overflow: hidden;
}
.r2::after{
  transform: rotate(-105deg);
}

.title{
  position: absolute;
  opacity: 1;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  color: #1A1A37;
  transition: 1s;
}

.card2{
  position: absolute;
  opacity: 0;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  color: #1A1A37;
  transition: 1s;
}

a{
  color: initial;
  text-decoration: initial;
}
.button{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(153,240,81,.4);
}

.card1:hover .l1{
  right: 780px;
}
.card1:hover .l2{
  right: 840px;
}
.card1:hover .r1{
  left: 740px;
}
.card1:hover .r2{
  left: 790px;
}

.card1:hover .title{
  opacity: 0;
}
.card1:hover .card2{
  opacity: 1;
}